.top{
    display: flex;    
    justify-content: center;  
    height: 485px;     
    background-color: white;
    box-shadow: 0px 5px 9px -9px black;
    z-index: 10;  
    width: 100%;
}

.containerx{
    width: 950px;
    height: 100%;            
}

.coverImage{
    width: 100%;
    height: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.container-info{
    width: 100%;
    height: 20%;
    position: relative;
    background-color: white;
}

.container-options{
    height: 15%;
    width: 100%;
    border-top: solid 1px lightgray;      
    background-color: white;
    display: flex;      
}

.profilePicx{
    position: absolute;
    left: 50px;
    top: -85px;   
}

.profilePicAva{
    width: 150px !important;
    height: 150px !important; 
    border: 7px solid #2e81f4;
    border-radius: 999px;   
}

.nameAndFriends{
    position: absolute;
    left: 250px;
    top: 5px;
}

.cbutt {
    border-radius: 5px;
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.addFriendButton{
    background-color: #2e81f4;   
}

.messageButton{
    background-color: lightgray;
    margin-left: 20px;
}

.messageButton > h5 {
    margin-left: 10px;
}

.addFriendButton > .MuiSvgIcon-root{
    color: white;
}

.addFriendButton > h5 {
    color: white;
    margin-left: 10px;
}

.addFriendButton:hover{
    background-color: #2666c0;
}

.messageButton:hover{
    background-color: gray;
}

.contactsButton{
    display: flex;
    position: absolute;
    right: 20px;
    top: 25px;
}

.container-options-left{
    display: flex;
    width: 80%;
}

.container-options-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.moreButton{
    background-color: lightgray;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.moreButton:hover{
    background-color: gray;
}

.optionxx{
    display: flex;
    align-items: center;
}

@media (max-width:899px){
    .containerx{
        width: 100%;
    }   
    
    .top{
        height: 600px;
    }

    .coverImage{
        height: 55%;
    }
    
    .container-info{        
        height: 35%; 
        display: flex;       
        align-items: center;
        flex-direction: column;
    }

    .profilePicx{        
        display: flex;
        justify-content: center;
        left: 50vw;
        right: 50vw;
    }

    .nameAndFriends{
        position:unset;                
        display: flex;
        flex-direction: column;        
        align-items: center;        
        margin-top: 80px;
    }

    .contactsButton{        
        position:unset;                
        display: flex;
        flex-direction: row;        
        align-items: center;        
        margin-top: 20px;
    }   

    .container-options{
        height: 10%;
    }
}

@media (max-width:711px){
    .buttonHide1{
        display: none;
    }
}

@media (max-width:599px){
    .buttonHide2{
        display: none;
    }
}