.topOption{
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 0px 12px 0px 12px;
    cursor: pointer;
}

.topOption > h3{
    font-weight: 500;
    color: gray;
}

.topOption:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 12px 0px 12px;
    border-bottom: none;
}

.topOption-active {
    border-bottom: 4px solid #2e81f4;
}

.topOption-active > h3{
    color: #2e81f4;
}