.header {
    display: flex;
    padding: 15px 20px 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 5px 8px -9px black;
}

.header-left {
    display: flex;
    justify-content: space-evenly;
}

.header-left-search {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header-left-search>input {
    border: none;
    outline-width: 0;
    background-color: transparent;
}

.header-left>img {
    height: 40px;
}

.logoButton{
    height: 40px;
    width: 40px;
}

.header-mid {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-mid > a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: fit-content; */
    width: fit-content;    
}

.header-mid-tab {
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
    cursor: pointer;
    height: 100%;
}

.header-mid-tab:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 30px 0px 30px;
    border-bottom: none;
}

.header-mid-tab>.MuiSvgIcon-root {
    color: gray;
}

.header-mid-tab:hover>.MuiSvgIcon-root {
    color: #2e81f4;
}

.header-mid-tab-active {
    border-bottom: 4px solid #2e81f4;
}

.header-mid-tab-active>.MuiSvgIcon-root {
    color: #2e81f4;
}

.header-right {
    display: flex;
}

.header-right-option {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 5px;
    cursor: pointer;

    position: relative;
}

.header-right-option:hover {
    background-color: gray;
}

.icon1 {
    display: flex;
}

.icon2 {
    display: none;
}

.icon3 {
    display: none;
}

.icon5 {
    display: flex;
}

.icon4 {
    display: none;
}


@media (max-width:1259px) {
    .header-left-search>input {
        display: none;
    }
}

@media (max-width:1099px) {
    .icon1 {
        display: none !important;
    }

    .icon2 {
        display: flex;
    }

    .icon4 {
        display: flex;
    }

    .icon5 {
        display: none;
    }
}

@media (max-width:750px) {
    .header-mid-tab {
        display: none;
    }

    .icon3 {
        display: flex;
    }
}

.accdropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 350px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 5px 15px -5px black;
    z-index: 2;
    border-radius: 15px;
    display: none;
}

.show {
    display: block
}

.accdropdown-top {
    width: 300px;
    height: 75px;
    margin: 15px;
    box-shadow: 0px 5px 15px -7px black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.accdropdown-top>h3 {
    font-weight: 500;
    margin-left: 10px;
}

.accdropdown-top:hover {
    background-color: lightgray;
}

.accdropdown-bottom-opt {
    display: flex;    
    align-items: center;
    width: 92%;
    padding: 15px 15px;
    cursor: pointer;
}

.accdropdown-bottom-opt>h4 {
    font-weight: 500;
    margin-left: 10px;
}

.accdropdown-bottom-opt:hover {
    background-color: lightgray;
}

.iconcircle{
    width: 35px;
    height: 35px;
    background-color: lightgray;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}