.leftbar {
    padding: 25px 10px 25px 10px;   
        
    position: fixed;
    z-index: 1;    
    top: 50px;    
    left: 0;
}

@media(max-width:1099px){
    .leftbar{
        display: none ;
    }
}