.leftbarRow {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.leftbarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.leftbarRow > h4 {
    margin-left: 20px;
    font-weight: 600;
}

.leftbarRow > .MuiSvgIcon-root{
    color: #2e81f4;
}

