.feedPost{
    width: 100%;
    margin-top: 15px;
    border-radius:15px ;
    background-color: white;
    box-shadow: 0px 5px 7px -7px black;
    position: relative;
}

.trashDivx{
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;   
    z-index: 1; 
}

.trashDivx > .MuiSvgIcon-root {
    color: gray;
}

.trashDivx :hover > .MUISvgIcon-root {
    color: lightgray;
}

.feedPost-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.feedPost-top-avatar{
    margin-right: 10px;
}

.feedPost-top-info > h3{
    font-size: medium;
}

.feedPost-top-info > p {
    font-size: small;
    color: gray;
}

.feedPost-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px 15px 25px;
}

.feedPost-options{
    /* padding-top: 10px; */
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    /* padding: 15px; */
}

.feedPost-option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.feedPost-option > p {
    margin-left: 10px;
}

.feedPost-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.feedPost-info{
    display: flex;    
    margin-bottom: 5px;
    justify-content: space-evenly;
}

.feedPost-info-left{
    width: 50%;
    display: flex;   
    margin-left: 15px; 
}

.feedPost-info-right{
    width: 50%;    
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.feedPost-info-left > p{
    margin-left: 15px;
}

.thumbIcon {
    width: 25px;
    height: 25px;
    background-color: #2e81f4;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible{
    display: none !important;
}

.viewMoreComment {
    color: 'gray';
    padding: 5px 20px;
    font-weight: 600;
}

.commentInput-section{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}

.comment-input {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 25px;
    border-radius: 999px;    
}

.comment-input > input {
    /* remove default border from input box */
    border: none; 
    /* remove default border thickening when input focused / clicked */
    outline-width: 0;
    /* bg color will blend into upper div bg color */
    background-color: transparent;
    /* width: 100%; */
    width: 350px;
    height: 30px;
    padding: 0px 0px 0px 10px;
}

.emojis {    
    width: 45%;    
    margin-left: 40px;
}

.embutton > .MuiSvgIcon-root{
    width: 15px;
    height:15px;
}

.feedPost-comments{
    padding-bottom: 20px;
}

.feedPost-option-active > .MuiSvgIcon-root{
    color: #2e81f4;
}

.feedPost-option-active > p{
    color: #2e81f4;
    font-weight: 600;
}
