.feedPostDelete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.767);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fpd-box{    
    width: 500px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 5px 15px -5px black;
    border-radius: 15px;
    position: relative;
}

.fpd-closeicon{
    background-color: lightgray;
    width: 35px;
    height: 35px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.fpd-closeicon:hover{
    background-color: gray;
}

.fpd-box-top{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px lightgray;
}

.fpd-box-mid{
    padding: 10px 0px 0px 10px;
}

.fpd-box-bot{
    display: flex;
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.fpd-nobutt{
    background-color: white;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.fpd-nobutt > p {
    color: #2e81f4;
    font-weight: 600;
}

.fpd-nobutt:hover{
    background-color: lightgray;
}

.fcd-delbutt{
    background-color: #2e81f4;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.fcd-delbutt > p {
    color: white;
}

.fcd-delbutt:hover{
    background-color: #286dcf;
}