.feedPostInput {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px black;
    width: 100%;
}

.feedPostInput-top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.feedPostInput-top > form {
    flex: 1;
    display: flex;
}

.feedPostInput-top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px 5px 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.feedPostInput-top > form > button {
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: #2e81f4;
    color: white;
    cursor: pointer;
}

.feedPostInput-top-input{
    flex: 1;
}

.feedPostInput-bottom{
    display: flex;
    justify-content: space-evenly;
}

.feedPostInput-bottom-option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.feedPostInput-bottom-option > h3 {
    font-size: medium;
    margin-left: 10px;
}

.feedPostInput-bottom-option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
    cursor: pointer;
}

.icon1{
    display: flex !important;
}

@media (max-width:899px){
    .icon1{
        display: none !important;
    }
}