.feedPostComment{
    margin-left: 20px;
    margin-top: 10px;    
}

.comment-sub{
    display: flex;
    align-items: center
}

.comment-content {
    margin-left: 15px;
    background-color: rgba(241,242,246,1);
    padding: 10px;
    border-radius: 20px;
    /* position: relative; */

}
.comment-content-top{
    display: flex;
}

.empty-space{
    width: 90%;
}

.trashDiv{
    /* position:absolute;
    top: 10px;
    right: 10px; */
    cursor: pointer;    
}

.trashDiv > .MuiSvgIcon-root {
    color: gray;
}

.trashDiv :hover > .MUISvgIcon-root {
    color: lightgray;
}

.comment-options{
    display: flex;    
    margin-left: 60px;
}

.comment-options > p{
    padding: 0px 10px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

