.feed {
    display: flex;
    width: 100vw;
    /* background-color: black; */
}

.wrapper-left {
    /* background-color: aqua; */
    width: 25%;
}

.wrapper-right {
    /* background-color: aqua; */
    width: 25%;
}

.wrapper-mid {
    /* background-color: blue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrapper-mid-sub {
    /* background-color: red; */
    padding: 30px 15px 30px 15px;
    width: 500px;    
    /* min-inline-size: 500px; */
}

@media(max-width:1099px) {
    .wrapper-left {
        display: none;
    }

    .wrapper-mid {
        width: 65%;
    }

    .wrapper-right {
        width: 35%;
    }
}

@media only screen and (max-width:899px) {
    .wrapper-right {
        display: none;
    }

    .wrapper-mid {
        width: 100vw;
        min-width: 500px;
        /* background-color: red;      */
    }    

    .wrapper-mid-sub{
        padding: 0;
    }
}