.reelEnd {        
    width: 120px;
    height: 200px;
    min-width: 120px;
    box-shadow:0px 5px 17px -7px black;
    border-radius: 10px;    
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;

    /* vvv */
    transition: transform 100ms ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reelEnd:hover{
    /* vvv */
    transform: scale(1.07);
}

.reelEnd > h4 {
    color: gray;
    font-weight: 600;
}