.reel {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    min-width: 120px;
    box-shadow:0px 5px 17px -7px black;
    border-radius: 10px;
    /* margin: 15px; */
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;

    /* vvv */
    transition: transform 100ms ease-in;
}

.reel:hover{
    /* vvv */
    transform: scale(1.07);
}