.storyCreate {
    background-color: black;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    min-width: 120px;
    box-shadow:0px 5px 17px -7px black;
    border-radius: 10px;    
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;

    /* vvv */
    transition: transform 100ms ease-in;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.storyCreate:hover{
    /* vvv */
    transform: scale(1.07);
}

.bottom > h4 {
    position: absolute;    
    top: 20px;
    color: gray;
    font-weight: 600;
}

.bottom{
    background-color: white;
    width: 100%;
    height:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.addCircle {
    color: #2e81f4;
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    top: -25px;
    background-color: white;
    border: 2px solid white;
    border-radius: 999px;
}