.storyAndReel {
    width: 100%;
    height: 320px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px black
}

.storyAndReel-top {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    height: 25%;
}

.storyAndReel-top-option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0px 30px 0px 30px;
    cursor: pointer;
}

.storyAndReel-top-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 30px 0px 30px;
    border-bottom: none;
}

.storyAndReel-top-option>.MuiSvgIcon-root {
    color: gray;
}

.storyAndReel-top-option>h4 {
    color: gray;
}

.storyAndReel-top-option-active {
    border-bottom: 4px solid #2e81f4;
}

.storyAndReel-top-option-active>.MuiSvgIcon-root {
    color: #2e81f4;
}

.storyAndReel-top-option-active>h4 {
    color: #2e81f4;
}

.storyAndReel-bottom {    
    /* height: 100%;  */
    position: relative;    
}

.container{    
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slideButton {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    z-index: 100;
}

.slideButton:hover{
    background-color: gray;
}

.sbleft{
    top: 75px;
    left: 25px;    
}
.sbright{
    top: 75px;
    right: 25px;    
}

.sbinactive {
    display: none;
}

.wrapper{
    display: flex;
}

.wrapper-inactive{
    display: none;
}