.login {
    /* width: 100vw; */
    height: 100vh;
    background-color: rgba(241, 242, 246, 1);
    display: flex;
}

.login-left {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.login-left-content {
    /* background-color: blueviolet; */
    width: 400px;
    /* margin-right: 300px; */
    /* margin-top: 100px; */
    padding-top: 100px;
    padding-right: 100px;
}

.login-left-content>h4 {
    margin-top: 30px;
}

.logoForesbook {
    background-image: url('../public/LOGO.png');
    width: 200px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}

.login-right {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-right-box {
    width: 58%;
    height: 53%;
    margin-left: 12%;
    background-color: white;
    box-shadow: 0px 5px 15px -7px black;
    border-radius: 15px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;    
}

.login-right-top {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lfg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lfgInput {
    height: 40px;
    width: 350px;
    border: solid 1px lightgray;
    border-radius: 5px;
    outline-color: #2e81f4;
    background-color: transparent;
    margin-top: 10px;
    padding-left: 15px;
}

.loginButton {
    width: 350px;
    height: 60px;
    margin-top: 15px;
    background-color: #2e81f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.loginButton>h3 {
    color: white;
}

.loginButton:hover {
    background-color: #245eb1;
}

.login-right-top>a {
    margin-top: 15px;
}

.login-right-bottom {
    width: 100%;
    height: 30%;    
    display: flex;
    align-items: center;
    justify-content: center;    
}

.login-right-bottom-sub{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-top: 1px solid gray;
    margin-top: 50px;
}

.createNewAccButton {
    width: 60%;
    height: 50%;
    background-color: green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.createNewAccButton>h3 {
    color: white;
    font-weight: 500;
}

.createNewAccButton:hover {
    background-color: darkgreen;
}

.login-right-veryBottom {
    display: flex;
    align-items: flex-end;
    margin-left: 17%;
}

.login-right-veryBottom>h5 {
    margin-left: 10px;
    font-weight: 400;
    margin-top: 25px;
}

.login-right-veryBottom>a {
    font-weight: 700;
}

.register-static {
    background-color: rgba(255, 255, 255, 0.808);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    /* default display state is none */
    display: none;
    align-items: center;
    justify-content: center;
}

.register-box {
    width: 400px;
    height: 550px;
    background-color: white;
    box-shadow: 0px 5px 15px -5px black;
    border-radius: 15px;
    position: relative;
    /* padding:15px; */
}

.register-title {
    /* width: 100%; */
    /* height: 100%; */
    padding: 15px;
    /* width: 90%; */
    border-bottom: solid 1px lightgray;
    height: 13%;
}

.register-body {
    height: 87%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.rfg{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rfgInput {
    height: 40px;
    width: 350px;
    border: solid 1px lightgray;
    border-radius: 5px;
    outline-color: #2e81f4;
    background-color: transparent;
    margin-top: 10px;
    padding-left: 15px;
}

.dateConClass {
    display: flex;
}

.dayConClass>select {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 0px 15px 0px 15px;
}

.monConClass>select {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 0px 15px 0px 15px;
}

.yearConClass>select {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 0px 15px 0px 15px;
}

.dateLabel {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 15px;
}

.dateLabel>p {
    font-size: smaller;
}

.iconCirclex {
    width: 15px;
    height: 15px;
    background-color: darkgray;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}

.iconCirclex>.MuiSvgIcon-root {
    width: 12px;
    height: 12px;
    color: white;
}

.genderOptions {
    display: flex;
}

.genderOption {
    width: 100px;
    height: 40px;
    border: solid 1px gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0px 15px;
}

.genderOption>label {
    margin-right: 10px;
}

.bottomBlabla {
    width: 90%;
}

.bottomBlabla>p {
    font-size: x-small;
    margin-top: 10px;
}

.signupButton {
    background-color: green;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.signupButton>h3 {
    color: white;
}

.signupButton:hover {
    background-color: darkgreen;
}

.closeRegIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.register-show {
    display: flex !important;
}

@media(max-width:1199px) {
    .login {
        height: unset;
        flex-direction: column;
    }

    .login-left {
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }

    .login-left-content {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 0;       
    }

    .login-right {
        width: 100%;
        height: 100vh;
        align-items: center;
    }

    .login-right-box {
        width: 400px;
        height: 400px;
        margin-left: 0;
    }

   

}

@media(max-width:600px){
    .register-static{              
        height: unset;
        min-width: 500px;
    }

    .register-box{        
        margin-top: 50px;        
    }
}