.profilePage {
    /* display: flex;
    flex-direction: column; */
}

.profilPageBody{
    display: flex;
    flex-direction: column;
}

.subnavShow {
    display: flex;
    position: sticky;
    top: 74px;
    z-index: 101;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 9px -9px black;
    border-top: lightgray solid 1px;
    justify-content: center;
    height: 73px;
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.subnavHide {
    display: flex;
    position: sticky;
    top: 74px;
    z-index: 101;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 9px -9px black;
    border-top: lightgray solid 1px;
    justify-content: center;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    height: 0;
}

.containerxx {
    width: 950px;
    display: flex;
}

.container-leftx {
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 20px;
}

.container-leftx>h3 {
    margin-left: 20px;
}

.container-rightx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.moreButton {
    background-color: lightgray;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.moreButton:hover {
    background-color: gray;
}