.onlineUser{
    display: flex;
    width: 100%;
    height: 50px;    
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}

.onlineUser > h4{
    margin-left: 10px;
    font-weight: 600;
}

.onlineUser:hover{
    background-color: lightgray;
    border-radius: 15px;    
}

.greenCircle{
    height: 10px;
    width: 10px;
    border-radius: 999px;
    background-color: green;
}