.rightbar {    
    flex: 0.33;
    padding: 25px 10px 25px 10px;    
    z-index: 1;
    position: fixed;
    right: 20vw;
    width: 20vw;
    height: 100vh;
    margin-right: -20vw;    
}

.rightbar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.rightbar-bottom{
    height: 90%;    
    overflow-y: hidden;
    overflow-x: hidden;
}

.rightbar-bottom:hover{
    overflow-y: scroll;
}

@media (max-width:1099px){
    .rightbar{
        width: 28vw;
    }
}

@media (max-width:899px){
    .rightbar{
        display: none;
    }
}