.bottomx {
    background-color: rgba(241, 242, 246, 1);
    position: relative;
    display: flex;
    justify-content: center;
}

.bottom-left {
    margin-top: 10px;
    margin-right: 20px;
    width: 350px;
}

.bottom-right {
    margin-top: 10px;
    margin-left: 20px;
    width: 550px;
}

.intro-box {
    width: 100%;
    /* height: 175px; */
    height: fit-content;
    box-shadow: 0px 5px 9px -9px black;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
}

.title {
    display: flex;
    align-items: center;
    width: 50%;
}

.title>h2 {
    margin-left: 20px;
    font-weight: 600;
}

.intro-box-top>h3 {
    font-weight: 400;
}

.intro-box-top {
    border-bottom: solid lightgray 1px;
    margin: 0px 15px;
    padding: 15px 0px;
}

.intro-box-bottom {
    display: flex;
    align-items: center;
}

.intro-box-bottom>.MuiSvgIcon-root {
    margin: 15px;
    color: gray;
}

.intro-box-bottom>h4 {
    font-weight: 400;
}

.photos-box {
    width: 100%;
    height: 75px;
    box-shadow: 0px 5px 9px -9px black;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    display: flex;
}

.photos-box>a {
    margin-right: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.friends-box {
    width: 100%;
    height: 75px;
    box-shadow: 0px 5px 9px -9px black;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    display: flex;
}

.friends-box>a {
    margin-right: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.posts-box {
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 9px -9px black;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.filterButton:hover {
    background-color: gray;
}

.post-box-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

@media (max-width:899px) {
    .bottomx {
        flex-direction: column;
    }

    .bottom-left {
        /* margin-top: 10px; */
        margin-right: 0px;
        width: 100%;
    }

    .bottom-right {
        /* margin-top: 10px; */
        margin-left: 0px;
        width: 100%;
    }

    .intro-box{
        /* height: 150px; */
    }
}